<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>Blog Details | Blogs</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Header-->
    <header>
      <div class="container flex justify-between align-center">
        <a class="logo" href="/"> <span>B</span>logs</a>

        <% if(user){ %>
        <nav class="flex justify-between align-end">
          <a class="user" href="/blogs/dashBoard"><%= user.name %></a>
          <a style="margin-right: 0.5rem" href="/blogs"
            ><button class="btn btn-primary">Go Back</button></a
          >
          <a href="/users/logout"
            ><button class="btn btn-primary">Log Out</button></a
          >
        </nav>
        <% }else{ %>
        <nav class="flex justify-between align-end">
          <a style="margin-right: 0.5rem" href="/users/signin"
            ><button class="btn btn-primary">Sign In</button></a
          >
          <a href="/users/signup"
            ><button class="btn btn-primary">Sign Up</button></a
          >
        </nav>
        <% } %>
      </div>
    </header>
    <!--Main-->
    <main class="newBlog">
      <h2>Edit Blog</h2>
      <form action="/blogs/<%= blog._id %>" method="POST">
        <input
          type="text"
          name="title"
          placeholder="Enter Title Here..."
          value="<%= blog.title %>"
        />
        <textarea name="description">
      <%= blog.description %>
    </textarea
        >
        <input
          type="text"
          name="tags"
          placeholder="Enter Tags Here..."
          value="<%= blog.tags %>"
        />
        <input class="submit" type="submit" value="Update Blog" />
      </form>
    </main>
  </body>
</html>